@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e3dac9;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-light: White;
        --foreground: #dbdbdb;
        --foreground-darker: #c6c6c6;
        --background-dark: #1a1b1e;
        --background-darker: #16171a;
        --background: #202023;
        --background-lighter: #313338;
        --background-light: #383A40;
        --highlight: #4338CA;
        --highlight-midsat: #6272E5;
        --highlight-saturated: #80acff;
    }
}

body {
    color: var(--foreground);
    background: var(--background-dark);
    font-family: monospace, sans-serif;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 0.7s step-end infinite;
}

.route-header-li {
    @apply transition duration-100 ease-in-out hover:text-[var(--foreground-light)] sm:px-2 max-sm:px-1;
}

.route-header-link {
    @apply font-bold transition duration-200 ease-in-out lg:text-xl max-lg:text-xs;
}

.window-form-input {
    @apply text-[var(--foreground-darker)] bg-[var(--background-dark)] w-full rounded-md p-2 text-lg focus:outline-none focus:border-b-[var(--highlight)] focus:border-b-2;
}

.contactMeSocialSites {
    @apply flex items-center justify-between}

.window-frame {
    @apply bg-[var(--background)] mx-auto mt-10 max-w-lg rounded-lg p-6 shadow-2xl border-[var(--background-darker)] border-4
}

.window-title {
    @apply mb-4 text-center text-2xl font-bold
}

.window-title-big {
    @apply mb-4 text-center text-4xl font-bold
}

.window-textbox {
    @apply mb-4 text-center text-2xl font-bold
}

.viewport-vertical-page-scroll {
    @apply h-screen overflow-y-scroll snap-y snap-mandatory
}