@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e3dac9;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-light: White;
        --foreground: #dbdbdb;
        --foreground-darker: #c6c6c6;
        --background-dark: #1a1b1e;
        --background-darker: #1A1B1E;
        --background: #202023;
        --background-lighter: #313338;
        --background-light: #383A40;
        --highlight: #4338CA;
        --highlight-midsat: #6272E5;
        --highlight-saturated: #80acff;
    }
}

body {
    color: var(--foreground);
    background: var(--background-darker);
    font-family: monospace, sans-serif;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 0.7s step-end infinite;
}

.route-header-li {
    @apply transition duration-100 ease-in-out hover:text-[var(--foreground-light)] sm:px-2 max-sm:px-1;
}

.route-header-link {
    @apply font-bold transition duration-200 ease-in-out lg:text-lg max-sm:text-lg;
}

.contactMeFormInput {
    @apply text-[var(--foreground-darker)] bg-[var(--background-dark)] w-full rounded-md p-2 text-lg focus:outline-none focus:border-b-[var(--highlight)] focus:border-b-2;
}